*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    font-weight: 800;
    display: flex;
    text-align: center;
    justify-content: center;
    position: static;
    margin: auto;
    
}
.container{
    background-color: hsl(217, 19%, 24%);
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    height: 100%;
    width: 65%;
    

}
.title-container{
    margin-bottom: 1px;
    text-align: center;
    
}
.ad-num{
    margin-bottom: 55px;
    text-align: center;
    color: hsl(150, 100%, 66%);
}
.title{
    font-size: 0.9em;
    letter-spacing: 7px;
    
}
.advice-container{
    color: hsl(193, 38%, 86%);
    margin-bottom: -20px;
    margin-top: 20px;
    position: static;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
.advice-display{
   font-size: 1.6em;
   margin-left: 20px;
   margin-right: 20px;
   padding: 10px 5px 10px 5px;
   margin-bottom: -180px;
}
.pause-to-dice{
    margin-top: 190px;
    margin-bottom: 10px;

}
.fa-solid.fa-pause{
    z-index: 2;
    font-size: 2em;
    background-color: hsl(217, 19%, 24%);
    padding: 10px;
    color: hsl(193, 38%, 86%);
}

.line-container{
    background-color: hsl(193, 38%, 86%);
    padding: 0.1px;
    z-index: 1;
    margin-bottom: 20px;
    margin-top: -26px;
    position: static;
}
.dice{
    border-radius: 100px;
    justify-content: center;
    display: flex;
    position: static;
    margin-top: 40px;

    
}
.fa-solid.fa-dice-five{
    color: hsl(218, 23%, 16%);
    text-align: center;
    font-size: 1.6em;
    background-color: hsl(150, 100%, 66%);
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    
}
.fa-solid.fa-dice-five:hover{
    box-shadow: 30px;
    background-color: hsl(150, 100%, 66%);
    filter: drop-shadow(0 0 20px hsl(150,100%,66%));

}